[submodule "packages/ouster-ros"]
	path = packages/ouster-ros
	url = https://github.com/RIVeR-Lab/ouster-ros.git
[submodule "packages/insta360_ros_driver"]
	path = packages/insta360_ros_driver
	url = https://github.com/RIVeR-Lab/insta360_ros_driver.git
[submodule "packages/shared_link_bridge/"]
	path = packages/shared_link_bridge	
	url = https://github.com/RIVeR-Lab/shared_link_bridge.git
[submodule "packages/kiss-icp"]
	path = packages/kiss-icp
	url = https://github.com/PRBonn/kiss-icp.git
